@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  html {
    @apply text-gray-700;
  }
  h1 {
    @apply text-3xl font-semibold mb-6;
  }
}

@layer components {
  .link-gray {
    color: var(--color-gray-500);
    &:hover,
    &.link-active {
      color: var(--color-gray-900);
    }
  }
}

/* github alerts */
.markdown-alert {
  @apply my-5 border-l-4 py-2 px-4 border-(--color-github-alert) bg-(--color-github-alert)/3;
  @apply [&_:where(p)]:my-3;
  @apply [&>:last-child]:mb-0;
}

.markdown-alert-title {
  @apply flex items-center gap-2 my-0 text-(--color-github-alert);
  @apply [&_svg]:fill-(--color-github-alert);
}

.markdown-alert-note {
  --color-github-alert: var(--color-blue-500);
}

.markdown-alert-tip {
  --color-github-alert: var(--color-emerald-600);
}

.markdown-alert-important {
  --color-github-alert: var(--color-purple-600);
}

.markdown-alert-warning {
  --color-github-alert: var(--color-yellow-600);
}

.markdown-alert-caution {
  --color-github-alert: var(--color-red-600);
}
